body {
	background: linear-gradient(-45deg, #0b2739, #e63780, #019DF4, #a13ea1);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .tabla-info{
	background: #FFFFFF;
	color: #0b2739;
} */

.animate-btn{
	background: linear-gradient(-80deg,  #3AB4F2, #3CCF4E, #3AB4F2, #3CCF4E);
	background-size: 400% 400%;
	animation: btn-animate 05s ease infinite;
	color: #ffffff;
	font-weight: 500;
}

@keyframes btn-animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-btn-1{
	background: linear-gradient(-80deg,  #D61C4E, #FEB139, #D61C4E, #FEB139);
	background-size: 400% 400%;
	animation: btn-animate 05s ease infinite;
	color: #ffffff;
	font-weight: 500;
}

@keyframes btn-animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-btn-2{
	background: linear-gradient(-80deg,  #5800FF, #0096FF, #5800FF, #0096FF);
	background-size: 400% 400%;
	animation: btn-animate 05s ease infinite;
	color: #ffffff;
	font-weight: 500;
}

@keyframes btn-animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-btn-3{
	background: linear-gradient(-80deg,  #afad13, #5BB318, #afad13, #5BB318);
	background-size: 400% 400%;
	animation: btn-animate 05s ease infinite;
	color: #ffffff;
	font-weight: 500;
}

@keyframes btn-animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


